@font-face {
    font-family: 'Magra';
    src: url("../assets/fonts/Magra-Regular.ttf");
}

@font-face {
    font-family: 'RedHatText';
    src: url("../assets/fonts/RedHatText-Regular.ttf");
}

@font-face {
    font-family: 'Aleo';
    src: url("../assets/fonts/Aleo-Regular.ttf");
}